ul.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
ul,
ol {
  list-style-type: none;
  padding-inline-start: 0;
}
nav > ul > li:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
}
.content {
  padding: 30px 25%;
  text-align: center;
}
button {
  background-color: #fec;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  color: #08f;
}
